@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
	margin-right: 15px;
	letter-spacing: 0.5px;
	transition: 0.5s;
}
.navbar-brand{
	color: white;
	letter-spacing: 0.5px;
}
h2{
	
	letter-spacing: 0.5px;
	font-family: raleway;
}

.navbar-custom .nav-item:hover .nav-link
{
    background: white;
    color: black;
    border-radius: 10px;
}
.div-color
{
 background-color: #ffb58b;
background-image: linear-gradient(45deg, #ffb58b 0%, #2BD2FF 34%, #2BFF88 60%, #ff0000 100%);
    
}
.navbar .nav-item .nav-link
{
    font-size: 20px;
    color:white;
        
}